:root {
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: rgb(99, 99, 99);
  /* background-image: linear-gradient(rgb(68, 68, 68), rgba(0, 191, 255, 0.25)); */
  background-image: linear-gradient(rgb(99, 99, 99), rgba(75, 0, 0, 0.25));
  z-index: -10;
  min-height: 100vh;
  user-select: none;
  top: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* width: 100%;
  height: 100%; */
}

main {
  position: sticky;
  min-height: 100vh;
  /* margin-top: -4rem; */
  margin-bottom: -3rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.parallax-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  z-index: -1;
}

.parallax-wrap .background-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(0, 191, 255, 0.5) 1px,
    transparent 0
  );
  background-size: 40px 40px;
}

#title {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

#title h1 {
  margin-bottom: 0;
  margin-right: 0.25rem;
  color: whitesmoke;
}

.input-box {
  border-radius: 3rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  padding: 0.75rem;
  width: 37.5rem;
  background-color: whitesmoke;
  /* z-index: 10; */
  user-select: none;
}

.input-box img {
  height: 1.25rem;
  width: 1.25rem;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  user-select: none;
}

.input-box input {
  width: 100%;
  margin-left: 0.75rem;
  font-size: 1rem;
  border: none;
  outline: 0;
  background-color: whitesmoke;
  /* z-index: 10; */
}

#answer-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 44rem;
  margin-top: 3rem;
}

@media (max-width: 1024.02px) {
  #answer-box .answer .song-title {
    font-weight: bold;
    color: whitesmoke;
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
}

#answer-box .answer .song-title {
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}

footer {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  user-select: none;
  background-color: transparent;
  color: whitesmoke;
  padding: 0rem 4rem;
  text-align: center;
}

@media (max-width: 575.98px) {
  main {
    margin-top: -4rem;
  }

  footer {
    height: 4rem;
    justify-content: center;
    padding: 0rem 1rem;
  }
}

#result {
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: calc(820px);
  height: fit-content;
  display: none;
  grid-template-columns: 400px 400px;
  /* gap: 10px; */
  background-color: rgba(164, 164, 164, 0.35);
  /* background-color: rgba(0, 191, 255, 0.25); */
  border-radius: 0.5rem;
}

#result #left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
}

#result #left > * {
  cursor: pointer;
  color: deepskyblue;
  /* background-color: rgb(69, 69, 69); */
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

#result #left div:last-child {
  margin-bottom: 0.5rem;
}

#result #left > *:hover {
  background-color: rgb(100, 100, 100);
}

.selected {
  background-color: rgb(100, 100, 100);
}

#result #left div p {
  pointer-events: none;
  padding-left: 0.5rem;
  /* font-size: small; */
  margin: 0;
}

#result #left div p:nth-child(2) {
  font-size: 0.9rem;
  color: rgb(235, 232, 232);
}

#result #right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  margin: 0.5rem;
}

#result #right #iframe {
  margin-top: 5rem;
}

#result #right p {
  opacity: 0;
  text-align: center;
  color: whitesmoke;
}

#roc {
  display: flex;
  flex-direction: row;
}

#roc > * {
  width: 50%;
  font-size: 4rem;
  text-align: center;
  cursor: pointer;
  background-color: rgb(80, 80, 80);
  border-radius: 0.5rem;
  margin: 0.5rem;
}

#roc > *:hover {
  background-color: rgb(67, 67, 67);
}

#regen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  cursor: pointer;
  background-color: rgb(81, 81, 81);
  border-radius: 0.5rem;
  margin: 0.5rem;
  height: 3rem;
  font-size: 1.25rem;
}

#regen:hover {
  /* background-color: rgb(99, 98, 98); */
  color: deepskyblue;
}

.fade {
  animation: fade 3.5s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}
