<!DOCTYPE html>
<title>SoundScout</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>

<body>
  <div class="full-body-container">
    <div class="parallax-wrap">
      <div class="background-grid"></div>
    </div>
    <div class="top-text">
      <div class="title">
        <h1>SoundScout</h1>
      </div>
      <div class="input-box" onclick="sendFocus()">
        <img src="{{ url_for('static', filename='images/mag.png') }}" onclick="search()" />
        <input placeholder="Search for a playlist" id="filter-text-val" />
      </div>
    </div>
    <div id="answer-box"></div>
    <footer>Created by Harrison Chin, Willy Jiang, Joshua Guo, Eric Huang, Alex Levinson</footer>
  </div>

  <script>
    function answerBoxTemplate(title, titleDesc) {
      return `<div class=''>
                <h3 class='song-title'>${title}</h3>
            </div>`
    }

    function sendFocus() {
      document.getElementById("filter-text-val").focus()
    }

    function search() {
      document.getElementById("answer-box").innerHTML = ""
      console.log(document.getElementById("filter-text-val").value)
      const box = document.getElementById("answer-box")
      while (box.lastElementChild) {
        box.removeChild(box.lastElementChild)
      }
      fetch(
        "/search?" +
          new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString()
      )
        .then((response) => response.json())
        .then((data) =>
          data.forEach((row) => {
            let tempDiv = document.createElement("div")
            tempDiv.innerHTML = answerBoxTemplate(row[0], row[1])
            document.getElementById("answer-box").appendChild(tempDiv)
          })
        )
    }

    document.addEventListener("mousemove", parallax)
    function parallax(event) {
      const x = (window.innerWidth - event.pageX * 1) / 90
      const y = (window.innerHeight - event.pageY * 1) / 90

      this.querySelector(
        ".parallax-wrap .background-grid"
      ).style.transform = `translateX(${x}px) translateY(${y}px)`
    }
  </script>
</body>
